# <center> Pandas Data Import </center>

#### 1- From files [(To learn more, click here)](https://www.py4e.com/lessons/files)
#### 2- From database [(To learn more, click here)](https://www.py4e.com/lessons/json)
#### 3- From Internet [(To learn more, click here).](https://www.py4e.com/lessons/servces)

### 1- Reading files from local drive:

In [36]:
import pandas as pd

# read_csv
pd.read_csv('data/input_data.txt', sep='\t')

     name  aga  gpa  Unnamed: 3
0  lskdf    12   36         NaN
1  lskdf    12   36         NaN

### 2- Reading files from web linkes